html, body {
    height: 100%;
}

body {
    margin: 0px;
}

#top {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 15px;
}

#forgeViewer {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #F0F0F0;
}